@use "../_foundation/color" as *

.nav
  background-color: $primary-color
  padding: 1rem 2rem
  position: fixed
  width: 100%
  top: 0
  z-index: 1000
  overflow-x: hidden

  &_content
    display: flex
    // justify-content: space-between
    align-items: center

  &_logo
    display: flex
    align-items: center
    gap: 0.5rem
    h1
      font-family: 'Abril Fatface', cursive
      color: $light-color
      font-size: 24px
      letter-spacing: 1.44px

  &_menu
    display: flex
    align-items: center
    list-style: none
    gap: 2rem

    li
      a
        font-family: 'Outfit', sans-serif
        color: white
        font-size: 16px
        transition: opacity 0.3s ease
        opacity: 0.9

        &:hover, &.active
          font-weight: 500
          opacity: 1
